@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F6EDCF;
  color: #404040;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto;
}

footer {
  font-size: 0.875em;
  margin-top: 12em;
  text-align: center;
}

h1, h2 {
  clear: left;
  color: #815c54;
  margin: 1em 0;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 2px #d0d0d0;
}

h1 {
  font-size: 2.00em;
}

p {
  list-style: none;
  margin: 24px auto 24px auto;
  padding: 0;
  text-align: justify;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F6EDCF;
}

.nav a {
  padding: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #815c54;
  font-weight: bold;
  text-decoration: none;
  line-height: 1em;
  font-size: 1.5em;
}

a {
  color: #815c54;
}

a.current {
  color: #55739e;
}

a.current:hover {
  color: #e82945;
}

a:hover {
  color: #b2132e;
}

.content, .banner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
  background-color: #;
  text-align: center;
  padding-top: 45px;
}

.content {
  padding-top: 0;
}

.top {
  font-size: 5.33em;
  opacity: 0.8;
  color: #505050;
  background: #F6EDCF;
  text-align: center;
  width: 1000px;
  height: 67px;
  position: absolute;
  padding: 36px 0 0 0;
  top: 0;
}

.banner-img {
  width: 100%;
  height: auto;
}

.video {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .nav a {
    width: 30%;
  }

  h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .nav a {
    width: 50%;
    font-size: 1em;
  }

  footer {
    margin-top: 3em;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 900px) {
  .banner-img {
    padding-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .banner-img {
    padding-top: 35px;
  }
}
