@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

* {
    border: 0;
    font: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 60px auto;
    width: 1000px;
}

a {
  color: #b8860b;
  text-decoration: none;
}
a.current {
  color: #52739e;
}
a.current:hover {
  color: #e82945;
}
a:hover {
  color: #b2132e;
}
a:active {
  color: #e82945;
}
h1,h2,h3,h4 {
  clear:left;
  color: #813c54;
  margin: 1.5em 0em 1em 0em;
  font-family:'Roboto Slab',serif;
  text-shadow: 1px 1px 2px #d0d0d0;
}
h2 {
  font-size: 2.00em;
}
p {
  list-style: none;
  margin: 24px auto 24px auto;
  padding: 0px;
  width: 900px;
  text-align: left;
}

table {
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;
}
td {
    text-align: left;
}

.banner {
  position: relative;
  font-family: 'Roboto Slab',serif;
}
.top {
  font-size: 5.33em;
  opacity: 0.8;
  color: #505050;
  background: #fafafa;
  text-align: center;
  width: 1000px;
  height: 67px;
  position: absolute;
  padding: 36px 0 0 0;
  top: 0px;
}
.bottom-right {
  font-size: 2.33em;
  color: #fafafa;
  line-height: 1.5em;
  width: auto;
  height: 100px;
  padding: 0px 25px 25px 0px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-shadow: 0px 0px 6px #000000;}

.title1 {
  color: #b2132e;
  text-shadow: 1px 1px 3px #c0c0c0;
}
.title2 {
  color: #52739e;
  text-shadow: 1px 1px 3px #c0c0c0;
}
.year {
  color: #505050;
  font-size: 0.67em;
  font-weight: lighter;
}

table.navigation {
  width: 1000px;
}
td.navigation {
  font-size: 1.67em;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
}

footer {
  font-size: 0.875em;
  margin-top: 12em;
  text-align: center;
}
