table#programTable {
  font-size: 1em;
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
  background-color: #F6EDBC;
  border: 2px solid #815c54;
  padding: 5px 5px;
  vertical-align: middle;
}

table#programTable td {
  border: 2px solid #815c54;
  padding: 5px 5px;
  vertical-align: middle;
}

table#programTable th {
  padding: 5px 5px;
  vertical-align: middle;
}

table#programTable thead {
  background: linear-gradient(to top, #a17c74 0%, #815c54 100%);
  font-size: 1.1em;
  color: #F6EDBC;
  text-align: center;
}

table#programTable tbody tr td:first-child {
  text-align: center;
  vertical-align: middle;
}

table#programTable tr:nth-child(even) {
  background: #E6FBFF;
}

.centered {
  text-align: center;
}

@media screen and (max-width: 900px) {
  table#programTable td {
    padding: 2px 2px;
  }
}

@media screen and (max-width: 600px) {
  table#programTable > *{
    font-size: 0.75em;
  }

  table#programTable td {
    padding: 2px 2px;
    line-height: 0.9;
  }
}

@media screen and (max-width: 400px) {
  table#programTable td {
    padding: 0px 0px;
    letter-spacing: -1px;
    line-height: 0.9;
  }
  }
}
