
table.programTable tr:nth-child(even) {
  background: #E6FBFF;
}

table.programTable {
  border-collapse: collapse;
  width: 100%;
  padding:  5px 5px;
  background-color: #EEEEEE; /*halvány szürke*/


}

table.programTable td, table.programTable {
  border: 2px solid #b2132e; /*upsdell red*/
  padding: 5px 5px;
  vertical-align: middle;
}

table.programTable th {
  padding: 5px 5px;
  vertical-align: middle;
}

table.programTable thead {
  background: linear-gradient(to top, #ff5050 0%, #800000 100%);
  font-size: 1.1em;
  color: #E6FBFF;
  text-align: center;

}

table.programTable tbody tr td:first-child {
    text-align: center;
    vertical-align: middle;
}
